requests
azure-ai-generative
azure-cognitiveservices-speech
azure-ai-resources
azure-core
PyMuPDF
pypdf2
langchain
openai
beautifulsoup4
pillow
streamlit
streamlit-chat
streamlit-extras
tiktoken
faiss-cpu
openpyxl
docx2txt
langdetect
googletrans
textract